<div style="margin-right: 15px; padding: 15px; border:1px; border-style:solid; border-color:gray; border-radius: 10px">
    <h2>კატეგორია</h2>
    <ul class="nav flex-column nav-pills">
        <div>
            <li class="nav-item">
                <a class="nav-link{% if active == 'new' %} active{% endif %}"
                   href="{% url 'teachers:quiz_change_list' %}">ქვიზები</a>
            </li>
        </div>

        <div>
            <li class="nav-item">
                <a class="nav-link{% if active == 'students' %} active{% endif %}"
                   href="{% url 'teachers:student_list' %}">სტუდენტები</a>
            </li>
        </div>
    </ul>
</div>

