{% load static %}<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Qᴜɪᴢ.ɪᴏ{% endblock %}</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    {% if user.is_authenticated and user.is_teacher %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/teachers.css' %}">
    {% else %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/students.css' %}">
    {% endif %}
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <div class="container my-4">
      <div class="row justify-content-center">
        <div class="col-md-15
         col-sm-12">
          <div class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-radius: .25rem;">
            <div class="col-6">
              <h1 class="logo">
                <a href="{% url 'home' %}">
                    <p style="color:white">Qᴜɪᴢ.ɪᴏ</p>
                </a>
              </h1>
            </div>
            <div class="col-6 text-right">
              {% if user.is_authenticated %}
                <p id="username" class="pt-3"><strong style="color: white;">{{ user.username }}{% if user.is_student %} - {{user.student.score}}{% endif %}</strong> | <a href="{% url 'logout' %}">გამოსვლა</a>.</p>
              {% else %}
                <a href="{% url 'login' %}" class="btn btn-light" role="button">შესვლა</a>
                <a href="{% url 'signup' %}" class="btn btn-primary" role="button">რეგისტრაცია</a>
              {% endif %}
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
              {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                </div>
              {% endfor %}
              {% block content %}
              {% endblock %}
            </div>
          </div>
          <footer>
            <strong><a style="color: #007bff" href="https://cu.edu.ge">𝙘𝙪.𝙚𝙙𝙪.𝙜𝙚</a></strong>
          </footer>
        </div>
      </div>
    </div>
    {% block js %}
    {% endblock %}
  </body>
</html>
