{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'datatables/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}

    <div style="display: flex;">
    <div>
    {% include 'classroom/students/_header.html' with active='new' %}
    </div>
    <div style="width: 100%">
      <p class="text-muted">
    საგნები:{% for subject in user.student.interests.all %} {{ subject.get_html_badge }}{% endfor %}
    <a href="{% url 'students:student_interests' %}"><small>(ინტერესების განახლება)</small></a>
  </p>

  <table class="table table-bordered mb-0" id="tb_quizlist" >
    <thead>
      <tr>
        <th>ქვიზები 11</th>
        <th class="d-none d-sm-table-cell">საგანი</th>
        <th class="d-none d-sm-table-cell">შეკითხვები</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for quiz in quizzes %}
        <tr{% if quiz.subject.id in student_subjects %} style="background: #fdf7e3"{%endif%}>
          <td class="align-middle">{{ quiz.name }}</td>
          <td class="align-middle d-none d-sm-table-cell">{{ quiz.subject.get_html_badge }}</td>
          <td class="align-middle d-none d-sm-table-cell">{{ quiz.questions_count }}</td>
          <td class="text-right" data-orderable="false">
            <a href="{% url 'students:take_quiz' quiz.pk %}" class="btn btn-primary">ქვიზის დაწყება</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td class="bg-light text-center font-italic" colspan="4">თქვენი ინტერესების შესაბამისი ქვიზი არ მოიძებნა</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    </div>

    </div>
{% endblock %}

{% block js %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables/dataTables.bootstrap4.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#tb_quizlist').DataTable({"order": [[ 2, "desc" ]]});
});
</script>
{% endblock %}
